.Application {
  background-color: white;
  margin-top: 12rem;
  // font-family: Poppins-Regular, sans-serif;
  // background-color: #E6ECF2;
}

body, html {
  // height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-color: #E6ECF2;
}
