* {
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  background-color: #E6ECF2;
}

.Application {
}

