@import "../styles/mixins.scss";
@import "../styles/variables.scss";

a:hover {
  text-decoration: none;
}

.button {
  border-radius: 2rem;
  border: 0;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 3rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  color: #3c91f8;
  background-color: #accaee;
}

.rightbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.reviewbutton {
  font-size: 1.5rem;
  height: 3rem;
  width: 10rem;
}

.button--danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.button--confirm {
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}

.button:hover {
  @include button-active;

  color: #54a0ff;
  background-color: $white;
  border: 2px solid transparent;
  text-decoration: none;
}

.button--danger:hover {
  color: $white;
  background-color: $danger-color;
  text-decoration: none;
}

.button--confirm:hover {
  color: $white;
  background-color: $confirm-color;
  text-decoration: none;
}
