.home {
  display: flex;
  flex-direction: row;
  margin-top: 11rem;
  justify-content: space-around;
}

.stations {
  height: 5vh;
}

// .map {
//   margin: auto;
//   margin-top: 2rem;
//   border-radius: 1rem;
//   border-width: 3px;
//   border-style: solid;
//   border-color: #54a0ff;
//   font-size: 1rem;
//   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
// }

.map .googlemap {
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search-input {
  position: absolute;
  z-index: 2;
}