.Login {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.MarginLogin {
  margin-top: 30rem;
}

.LoginBgColor {
  background-color: #e6ecf2;
}

.LoginBlock {
  display: flex;
  flex-direction: column;
  background-color: #cee2f3;
  width: 45rem;
  height: 17rem;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 1rem;
}

.RegisterBlock {
  display: flex;
  flex-direction: column;
  background-color: #cee2f3;
  width: 45rem;
  height: 26rem;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 1rem;
}
