.ReviewMainBlock {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  background-color: #CEE2F3;
  width: 40rem;
  height: 10rem;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.WriteReview {
  flex-direction: column;
  margin-top: 2rem;
  background-color: #CEE2F3;
  width: 40rem;
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 1rem;
}

.ReviewItem {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  background-color: #CEE2F3;
  width: 40rem;
  height: 15rem;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ReviewComment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.ReviewRows {
display: flex;
flex-direction: column;
}

.ReviewSubform {
  display: flex;
  flex-direction: column;
  
}

.GasStation {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-grow: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.StationDetail {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-left: 2rem;
padding-top: 1.2rem;
}

.ReviewAvatar {
  padding-left: 2rem;
}

.GasImage {
  margin-left: 6rem;
}

.Spacing {
  margin-bottom: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.WriteReviewLabel {
  display: flex;
  align-items: center;
  margin-left: 7rem;
  padding-bottom: 1rem;
}

.BorderRight {
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.PriceHeadings {
  display: flex;
  flex-direction: row;
  line-height: 0.5rem;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.PriceBlock {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #CEE2F3;
  width: 40rem;
  height: 12rem;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #54a0ff;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.StationPrice {
  display: flex;
  flex-grow: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.ReviewDetail {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}

.MarginReview {
  margin-top: 12rem;
}

.TextAreaCenter {
  display: flex;
justify-content: center;
padding-bottom: 1rem;
}
